.playingField {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.combatWindow {
    border: 1px solid black;
    display: flex;
    flex-flow: column;
    height: 300px;
    width: 200px;
}
.logContainer {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.log {
    height: 200px;
    width: 300px;
}
#portrait1 {
    height: 170px;
    width: 170px;
}
#portrait2 {
    height: 170px;
    width: 170px;
}