body {
    background-color: lightgray;
}
table {
    margin-top: 30px;
    margin-bottom: 30px;
}
td {
    padding-left: 10px;    
}
#result {
    text-align: center;
    font-size: 30px;
    height: 30px;
}
#computerChoice {
    text-align: center;
    height: 30px;
}
#p2choice {
    margin-bottom: 30px;
}
